extends ../includes/admin.pug

mixin product(item)

  - const { productName, id} = item
  
  .col-2.mb-4
    button.view.overlay.btn.btnOutlineMain.text-dark.px-2.py-1.h-100.w-100.btnProduct(
      type="button"
      

    ) #{productName}
      .mask.flex-center.btn.bgBtnMain.p-0.m-0(
        data-target="#modalAddProduct"
        data-toggle="modal"
        data-id-product = id
        data-id-category = categoryId
        data-name-category = categoryName
        data-slug-category = categoryNameSlug
      ) Add
        

mixin productCate(item)

  - const { productName, id} = item
  
  .col-2.mb-4
    button.view.overlay.btn.btnOutlineMain.text-dark.px-2.py-1.h-100.w-100.btnProduct(
      type="button"
    ) #{productName}
      .mask.flex-center.btn.bgBtnMain.p-0.m-0(
        data-target="#modalDeleteProduct"
        data-toggle="modal"
        data-id-product = id
        data-id-category = categoryId
        data-name-category = categoryName
        data-slug-category = categoryNameSlug
      ) Delete
      


block head-admin
  link(href='css/validateErr.css', rel='stylesheet')
  
block nav-admin
  // Main Navigation
  - const lengthProduct = dataProducts.length
  - const lengthProductCategory = productCategory.length
  
  main.pt-5.mx-lg-5
    .container-fluid.mt-5
      .h4.text-center.mb-5 #{dataCategory[0].categoryName}
        .line-break.mt-2
          img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png", width='150' alt="")
      
      .h5 Products of #{dataCategory[0].categoryName}

      #productCategory.row.mt-3
        - for (let i = 0; i<lengthProductCategory; i++){
          +productCate(productCategory[i])
        -}
      .h5 Add product to category
      span (click each product)
      
      #allProduct.row.mt-3
        - for (let i = 0; i<lengthProduct; i++){
          if (!dataProducts[i].Categories.find( obj => obj.id === categoryId))
            +product(dataProducts[i])
          
        -}
      #modalAddProduct.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header.d-block
              h5#modal-title.modal-title.text-center
              | Do you want add product: 
              span#nameProductModal.modalInnerTitle
              |  to Category: 
              span#nameCategoryModal.modalInnerTitle
              |  ?
            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Close
              form.wow.fadeIn(action='/admin/add-product-to-category', method='POST')
                button.btn.btn-primary.bgBtnMain(type='submit') ADD
                input#idProductModal(type="hidden", name='productId')
                input#idCategoryModal(type="hidden", name='categoryId')
                input#slugCategoryModal(type="hidden", name='categoryNameSlug')
      
      #modalDeleteProduct.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header.d-block
              h5#modal-delete-title.modal-title.text-center
              | Do you want to remove: 
              span#nameProductModalDel.text-danger
              |   from the category:  
              span#nameCategoryModalDel.text-danger
              |  ?
            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Close
              form.wow.fadeIn(action='/admin/delete-product-from-category', method='POST')
                button.btn.btn-danger(type='submit') Delete
                input#idProductModalDel(type="hidden", name='productId')
                input#idCategoryModalDel(type="hidden", name='categoryId')
                input#slugCategoryModalDel(type="hidden", name='categoryNameSlug')

      
  // JQuery
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  // Bootstrap tooltips
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js')
  // Bootstrap core JavaScript
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js')
  // MDB core JavaScript
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/js/mdb.min.js')
  script(type='text/javascript').
    // Animations initialization
    new WOW().init();

    const allProduct = document.getElementById('allProduct');
    const modalTitle = document.getElementById('modal-title')
    const elmNameProduct = document.getElementById('nameProductModal');
    const elmNameCategory = document.getElementById('nameCategoryModal');
    const inputModalProduct = document.getElementById('idProductModal');
    const inputModalCategory = document.getElementById('idCategoryModal');
    const inputModalSlugCategory = document.getElementById('slugCategoryModal');

    const productCategory = document.getElementById('productCategory');
    const modalDelTitle = document.getElementById('modal-delete-title')
    const elmNameProductDel = document.getElementById('nameProductModalDel');
    const elmNameCategoryDel = document.getElementById('nameCategoryModalDel');
    const inputModalProductDel = document.getElementById('idProductModalDel');
    const inputModalCategoryDel = document.getElementById('idCategoryModalDel');
    const inputModalSlugCategoryDel = document.getElementById('slugCategoryModalDel');


    allProduct.addEventListener('click', function (e) {
      const currentButton = e.target
      const productId = parseInt(currentButton.getAttribute('data-id-product'));
      const nameProduct = currentButton.parentNode.textContent;
      const nameCategory = currentButton.getAttribute('data-name-category');
      const categoryId = currentButton.getAttribute('data-id-category');
      const slugCategory = currentButton.getAttribute('data-slug-category');
      console.log(currentButton.parentNode)
      console.log(elmNameProduct)
      inputModalProduct.value = productId;
      inputModalCategory.value = categoryId;
      inputModalSlugCategory.value = slugCategory
      //- modalTitle.innerHTML = `Do you want add product: ${nameProduct} to Category: ${nameCategory}?`
      elmNameProduct.innerHTML = nameProduct;
      elmNameCategory.innerHTML = `${nameCategory}`;
    })

    productCategory.addEventListener('click', function (e) {
      const currentButton = e.target
      const productId = parseInt(currentButton.getAttribute('data-id-product'));
      const nameProduct = currentButton.parentNode.textContent;
      const nameCategory = currentButton.getAttribute('data-name-category');
      const categoryId = currentButton.getAttribute('data-id-category');
      const slugCategory = currentButton.getAttribute('data-slug-category');
      console.log(currentButton)
      inputModalProductDel.value = productId;
      inputModalCategoryDel.value = categoryId;
      //- modalTitle.innerHTML = `Do you want add product: ${nameProduct} to Category: ${nameCategory}?`
      elmNameProductDel.innerHTML = nameProduct;
      elmNameCategoryDel.innerHTML = `${nameCategory}`;
      inputModalSlugCategoryDel.value = slugCategory

    })

  //- script(src='https://maps.google.com/maps/api/js')