extends ../includes/admin.pug

mixin category(item)

  - const { categoryName, categoryNameSlug, id} = item
  - const lengthProduct = item.Products.length
  .col-3
    a(href=`/admin/category-${categoryNameSlug}.${id}`).btn.btn-outline-dark.w-100.px-1.py-2.btnOutlineMain 
      .h6 #{categoryName}
      .text-lowercase (#{lengthProduct <2 ? `${lengthProduct} product` : `${lengthProduct} products`})

block head-admin
  link(href='css/validateErr.css', rel='stylesheet')
  
block nav-admin
  // Main Navigation
  - const lengthCategory = dataCategories.length
  
  main.pt-5.mx-lg-5
    .container-fluid.mt-5
      .h4.text-center.mb-5 All Categories
        .line-break
          img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png", width='150' alt="")
      .row
        - for (let i = 0; i<lengthCategory; i++){
          +category(dataCategories[i])
        -}
      
  script(type='text/javascript', src='js/jquery-3.3.1.min.js')
  // Bootstrap tooltips
  script(type='text/javascript', src='js/popper.min.js')
  // Bootstrap core JavaScript
  script(type='text/javascript', src='js/bootstrap.min.js')
  // MDB core JavaScript
  script(type='text/javascript', src='js/mdb.min.js')
  // Initializations
  script(type='text/javascript').
    // Animations initialization
    new WOW().init();
  script(src='https://maps.google.com/maps/api/js')