
doctype html
head
    title #{title}
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon', href='https://res.cloudinary.com/haophan/image/upload/v1547869659/icon-flower.ico')
    // Font Awesome
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
    // Bootstrap core CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css', rel='stylesheet')
    // Material Design Bootstrap
    link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/css/mdb.min.css', rel='stylesheet')
    link(rel='stylesheet', href='css/index.css')
    block head    
body
    header.container-fluid.paddingZero
        nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-primary.bgNav.paddingNav.scrolling-navbar
            a.navbar-brand(href='/')
                img(src='https://res.cloudinary.com/haophan/image/upload/v1547865735/logo-2.png', height='40', alt='Route 66 in navbar')
                
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarExample', aria-controls='navbarExample', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarExample.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link.px-3(href='/') Home
                    li.nav-item.dropdown#categoryNav
                        a#navbarDropdown.nav-link.dropdown-toggle.px-3(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Category
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item.categoryItem(href='/category/anniversary.5.html') Anniversary
                            a.dropdown-item.categoryItem(href='/category/birthday.4.html') Birthday
                            a.dropdown-item.categoryItem(href='/category/orchid.6.html') Orchid
                            a.dropdown-item.categoryItem(href='/category/roses.7.html') Rose
                            a.dropdown-item.categoryItem(href='/category/funeral-and-sympathy.8.html') Funeral and Sympathy
                            a.dropdown-item.categoryItem(href='/category/lily.9.html') Lily
                            a.dropdown-item.categoryItem(href='/category/everyday.10.html') Everyday
                            a.dropdown-item.categoryItem(href='/products') All Products

                    li.nav-item
                        a.nav-link.px-3(href='/') About

                ul#searchBox.navbar-nav.mr-auto.w-50.d-flext.justify-content-center.navSearch
                    form.form-inline.md-form.form-sm.active-cyan-2.w-75.navSearch__form
                        //- input.form-control.form-control-sm.mr-3.w-100.navSearch__input(type='text', placeholder='Search', aria-label='Search')
                        .input-group.btn.md-form.form-sm.form-2.pl-0.w-100.navSearch__wrap
                            input#searchInput.form-control.my-0.py-1.red-border.navSearch__input(type='text', placeholder='Search', aria-label='Search')
                            button#search__btn.btn.input-group-append
                                span#basic-text1.input-group-text.search__icon-wrap
                                    i.fas.fa-search.text-grey(aria-hidden='true')
                if(loggedIn === false)
                    ul.navbar-nav.ml-auto.nav-flex-icons
                        li.nav-item
                                a.nav-link.waves-effect.waves-light
                                    button.btn.btn-outline-secondary.btnOutLineWhite(type='button')
                                        i.fas.fa-shopping-cart.pr-1
                                        | Cart
                                        span.badge.badge-danger.ml-2 0
                        li.nav-item
                            a.nav-link.waves-effect.waves-light.pr-0(href=`/login?path=${path}`)                
                                button.btn.btn-outline-success.btnOutLineWhite(type='button') Login
                        li.nav-item
                            a.nav-link.waves-effect.waves-light.pl-0(href=`/register?path=${path}`)
                                button.btn.btn-outline-success.btnOutLineWhite(type='button') Register
                else
                    - const username = dataUser[0].username
                    - const userAvatar = dataUser[0].UserProfile.avatar
                    //-loggedIn is value of cookie            
                    ul.navbar-nav.ml-auto.nav-flex-icons
                        li.nav-item
                            a.nav-link.waves-effect.waves-light
                                button.btn.btn-outline-secondary.btnOutLineWhite(type='button')
                                    i.fas.fa-shopping-cart.pr-1
                                    | Cart
                                    span.badge.badge-danger.ml-2 #{cartItems.length}
                        li.nav-item.dropdown.avatar.alignCenter
                            a#navbarDropdownMenuLink-333.nav-link.dropdown-toggle.p-0(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                img.rounded-circle.z-depth-0(src=userAvatar, alt='avatar image', height='40')
                            .dropdown-menu.dropdown-menu-right.dropdown-default(aria-labelledby='navbarDropdownMenuLink-333')

                                a.dropdown-item(href='#') Hi 
                                    span #{username}
                                .dropdown-divider
                                a.dropdown-item(href='/customer/profile') Your profile
                                a.dropdown-item(href='/customer/history') History
                                a.dropdown-item(href='/checkout/cart') Cart
                                a.dropdown-item(href='/customer/notification') Notification
                                .dropdown-divider
                                a.dropdown-item(href='#')
                                    form(action="/logout", method="post")
                                        button.btn.bgBtnMain(type='submit') Sign out
    block nav  

    footer.bgNav.font-small.mt-4.wow.fadeIn       
        // Social icons
        .py-3.text-center.footer__socials
            a.p-2(href='https://www.facebook.com/mdbootstrap', target='_blank')
                i.fab.fa-facebook-f
            a.p-2(href='https://twitter.com/MDBootstrap', target='_blank')
                i.fab.fa-twitter
            a.p-2(href='https://www.youtube.com/watch?v=7MUISDJ5ZZ4', target='_blank')
                i.fab.fa-youtube
            a.p-2(href='https://plus.google.com/u/0/b/107863090883699620484', target='_blank')
                i.fab.fa-google-plus-g
            a.p-2(href='https://dribbble.com/mdbootstrap', target='_blank')
                i.fab.fa-dribbble
            a.p-2(href='https://pinterest.com/mdbootstrap', target='_blank')
                i.fab.fa-pinterest
            a.p-2(href='https://github.com/mdbootstrap/bootstrap-material-design', target='_blank')
                i.fab.fa-github
            a.p-2(href='http://codepen.io/mdbootstrap/', target='_blank')
                i.fab.fa-codepen
        // Copyright
        hr
        .footer-copyright.py-3.text-center
            | &copy; 2019 Copyright: 
            a(href='/', target='_blank')  Hao Phan - Flowers-shop 


    // JQuery
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/js/mdb.min.js')

    block footer