extends includes/layout.pug

mixin address(item)
  
  .row.border.rounded.py-3
    .col-12
      .d-flex.justify-content-between
        .h5 #{item.fullName}
        span.text-success(class= item.isActive? '': 'd-none') Default
      .phone Phone: #{item.phoneNumber}
      .address Address: #{`${item.address}, ${item.street} street, ${item.distric} distric, ${item.city} city`}
      .row
        if item.isActive
          .btn.light-green.darken-2.disabled.addressActive
            |Address is Actived
        else
            form(method='POST', action='/cart/active-address')
              input(type='hidden', value=item.id, name='idAddress')
              button.btn.grey.chooseAddress(type='submit') Choose Address
        form(method='POST', action='/cart/delete-address')
          input(type='hidden', value=item.id, name='idDeleteAddress')

          button.btn.deep-orange.darken-4.chooseAddress(type='submit') Delete

mixin productCart(item)
  
    li.list-group-item.d-flex.justify-content-between.lh-condensed
      .col-6
        a.linkItemProduct(href=item.CartItem.urlProduct).d-block.h6.my-0 #{item.productName}
        if item.CartItem.discount
          small.badge.red.mr-1 -#{item.CartItem.discount}%
      .col-3.text-center
        .h6.my-0 Quantity
        small #{item.CartItem.quantity}
      .col-3.text-right
        .h6.my-0 $#{item.CartItem.price}
        if item.CartItem.discount
          small.line-throught $#{item.CartItem.priceOrigin}
block head
  link(rel='stylesheet', href='css/cart.css')

block nav
  main.mt-5.pt-4
    
    .container.wow.fadeIn
      // Heading
      h2.my-5.h2.text-center Checkout form
      // Grid row
      .row
        // Grid column
        .col-md-7.mb-4
          h4.d-flex.justify-content-between.align-items-center.mb-3
            span.text-muted Infomation User
            
          // Card
          .card
            // Card content
            .card-body
              #dataAddress
                - const lengthAddress = dataAddress.length
                if dataAddress.length> 0
                  - for (let i = 0; i<lengthAddress; i++){
                    +address(dataAddress[i])
                  - }
                  #divShowAddAddress.text-primary.mt-3.mb-5.divShowAddAddress Click here to add new Address
              
              form#addAddress(class = lengthAddress ===0 ? '' : 'd-none', method='POST', action='/cart/add-address')
                .h5 Add new address
                .row            
                  // Grid column
                  .col-md-6.mb-2
                    // fullName
                    .md-form
                      input#fullName.form-control(type='text', name='fullName', value=oldData.fullName)
                      label(for='fullName') Full Name  
                      if errWhenAddAddress.validFullName                  
                        .errorValidate.errorActive 
                          |#{errWhenAddAddress.validFullName}

                  .col-md-6.mb-2
                    // phoneNumber
                    .md-form
                      input#phoneNumber.form-control(type='text', name='phoneNumber', value=oldData.phoneNumber)
                      label(for='phoneNumber') Phone
                      if errWhenAddAddress.validPhoneNumber                  
                        .errorValidate.errorActive 
                          |#{errWhenAddAddress.validPhoneNumber}
                .row
                  .col-md-6.mb2
                    // address
                    .md-form
                      input#address.form-control(type='text', name='address', value=oldData.address)
                      label(for='address') Address
                      if errWhenAddAddress.validAddress                  
                        .errorValidate.errorActive 
                          |#{errWhenAddAddress.validAddress}
                  .col-md-6.mb2
                    //street
                    .md-form
                      input#street.form-control(type='text', name='street', value=oldData.street)
                      label(for='street') Street
                      if errWhenAddAddress.validStreet                  
                        .errorValidate.errorActive 
                          |#{errWhenAddAddress.validStreet}
                .row
                  .col-md-6.mb2
                    // distric
                    .md-form
                      input#distric.form-control(type='text', name='distric', value=oldData.distric)
                      label(for='distric') Distric
                      if errWhenAddAddress.validDistric                  
                        .errorValidate.errorActive 
                          |#{errWhenAddAddress.validDistric}
                  .col-md-6.mb2
                    //city
                    .md-form
                      input#city.form-control(type='text', name='city', value=oldData.city)
                      label(for='city') City
                      if errWhenAddAddress.validCity                  
                        .errorValidate.errorActive 
                          |#{errWhenAddAddress.validCity} 
                .row
                  .col-md-6.mb2
                    // kind address
                    label(for='kindAddress', style="color:#757575") Kind Address                      
                    
                    select#kindAddress.custom-select.d-block.w-100(required='', name='kindAddress')
                      option(value='') Choose...
                      option(value='personal') Personal
                      option(value='home') Home
                      option(value='company') Company
                      option(value='other') Other
                    

                  .col-md-6.mb2.d-flex.justify-content-end             
                    
                    button.btn.bgBtnMain.mt-4(type='submit') Add Address

        
        .col-md-5.mb-4          
            // Heading
            if lengthProductCart === 0
              .h4.text-center No Products of your cart
              
            else
              h4.d-flex.justify-content-between.align-items-center.mb-3
                span.text-muted Your cart
                span.badge.badge-secondary.badge-pill #{lengthProductCart}
              // Cart
            
              ul.list-group.mb-3.z-depth-1
                each value in cartItems
                  +productCart(value)
                //- li.list-group-item.d-flex.justify-content-between.bg-light
                //-   .text-success
                //-     h6.my-0 Promo code
                //-     small EXAMPLECODE
                //-   span.text-success -$5
                li.list-group-item.d-flex.justify-content-between
                  .col-6
                    .h5 Total (USD)
                  .col-3.text-right
                    .h5 $#{totalPrice}
                if lengthProductCart> 0
                  
                  form(action="/cart/order", method="post").list-group-item.d-flex.justify-content-between
                    button.btn.bgBtnMain.btn-lg.btn-block(type='submit') Order
          
          

block footer
  script(type='text/javascript').
    const divOpenAddNewAddress = document.getElementById('divShowAddAddress');
    const formAddAddress = document.getElementById('addAddress');

    divOpenAddNewAddress.addEventListener('click', (e) => {
      formAddAddress.classList.remove('d-none');
      formAddAddress.classList.add('mt-5')
      divOpenAddNewAddress.classList.add('d-none');
    })
