extends includes/layout.pug
    

mixin product(item, idCategory)
    - const nameProductSlug = item.productNameSlug
    - const nameProduct = item.productName
    - const idProduct = item.id
    - const imageSrc = item.ProductImages[0].imageSrc
    - const nameImageProduct = item.ProductImages[0].imageName
    - const lengthProductDiscount = item.ProductDiscounts.length
    - const isActiveProductDiscount = lengthProductDiscount ? item.ProductDiscounts[0].isActive : false
    - const costBase = item.ProductPricings[0].basePrice
    - const discountValue = lengthProductDiscount ? item.ProductDiscounts[0].discountValue : 0
    - const productStar = parseInt(item.productStar);
    - const productStarHalf = productStar < item.productStar? true : false

    - let costDiscount = discountValue ? costBase - (discountValue*costBase)/100 : 0
    - costDiscount = Math.round(costDiscount)

    
    .col-sm-12.col-md-6.col-lg-3.mb-5.d-flex.align-items-stretch       
        .card
            .card-img-top.product__relative
                a.card-link(href=`product/${nameProductSlug}.${idProduct}.${idCategory}.html`)
                    img.productImg(src= imageSrc, alt=item.ProductImages.imageName)
                    if lengthProductDiscount>0 && isActiveProductDiscount
                        .lable-promotion
                            .btn.btn-danger.btn--sale -#{discountValue} %
            .card-body
                a.card-link(href=`product/${nameProductSlug}.${idProduct}.${idCategory}.html`)
                    h5.card-title.card--title #{nameProduct}
                p.card-text
                    - for(let i = 0 ; i<productStar; i++){
                        i.fas.fa-star.star--color
                    - }
                    if productStarHalf
                        i.fas.fa-star-half-alt.star--color
                        - for(let i = productStar+1 ; i<5; i++){
                            i.fas.fa-star.star--disable
                        - }
                    else
                        - for(let i = productStar ; i<5; i++){
                            i.fas.fa-star.star--disable
                        - }
                    span.ml-1(class= item.totalUserVote? '': 'd-none')
                        |(#{item.totalUserVote === 1 ? `${item.totalUserVote} review` : `${item.totalUserVote} reviews`})
                p.card-text
                    if lengthProductDiscount>0 && isActiveProductDiscount 
                        span.productCostDiscount.mr-2.cost $#{costDiscount}
                        span.productCostBase.productCostBase--line-through $#{costBase}
                    else     
                        span.productCostBase.cost $#{costBase}

block nav
    
    //
        **************************************************
        Main Slide
        **************************************************
    // Carousel Wrapper
    section#carousel-example-2.carousel.slide.carousel-fade(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
            li.active(data-target='#carousel-example-2', data-slide-to='0')
            li(data-target='#carousel-example-2', data-slide-to='1')
            li(data-target='#carousel-example-2', data-slide-to='2')
            li(data-target='#carousel-example-2', data-slide-to='3')

        // /.Indicators
        // Slides
        .carousel-inner(role='listbox')
            .carousel-item.active
                .view
                    img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1548744139/slide/SL1.jpg', alt='First slide')
                    .mask.rgba-black-light
                .carousel-caption.slide-caption1.text-center
                    h2.h2-responsive Rose Flower
                        .line-break
                            img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png",  alt="")
                    a(href='/category/roses.7.html').btn.bgBtnMain.px-3.py-3 View Shop
            .carousel-item
                // Mask color
                .view
                    img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1548744140/slide/SL2.jpg', alt='Second slide')
                    .mask.rgba-black-strong
                .carousel-caption.text-center
                    h2.h2-responsive Lily Flower
                        .line-break
                            img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png",  alt="")
                    a(href='/category/lily.9.html').btn.bgBtnMain.px-3.py-3 View Shop
            .carousel-item
                // Mask color
                .view
                    img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1548744140/slide/SL4.jpg', alt='Third slide')
                    .mask.rgba-black-slight
                .carousel-caption.text-center
                    h2.h2-responsive Birthday Flower
                        .line-break
                            img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png",  alt="")
                    a(href='/category/birthday.4.html').btn.bgBtnMain.px-3.py-3 View Shop
            .carousel-item
                // Mask color
                .view
                    img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1548744139/slide/SL5.jpg', alt='Third slide')
                    .mask.rgba-black-slight
                .carousel-caption.text-center
                    h2.h2-responsive Handmade Flower
                        .line-break
                            img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png",  alt="")
                    a(href='/category/everyday.10.html').btn.bgBtnMain.px-3.py-3 View Shop
            // /.Slides
        // Controls
        a.carousel-control-prev(href='#carousel-example-2', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
        a.carousel-control-next(href='#carousel-example-2', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
        // /.Controls
        // /.Carousel Wrapper


    //
        **************************************************
        ADV for big sale
        **************************************************
    section#advertisement-1.container-fluid.adv.p-4.pgAdv.d-flex.justify-content-center.alignCenterCol.bgNav
        h4.text-center.mr-3.white-text Big sale
        a(href="/category/best-sale.3.html").btn.btn-primary.bgBtnMain.p-3 Shop now!
    
    //
        **************************************************
        Shops Represent
        **************************************************
    section#introShop.my-4
        .container
            .row
                .col.d-flex.align-items-stretch.p-4                             
                    .card
                        // Card image
                        .view.overlay
                            img.card-img-top(src='https://res.cloudinary.com/haophan/image/upload/v1553165341/wedding-index.jpg', alt='Card image cap')
                            a(href='/category/wedding.11.html')
                                .mask.rgba-white-slight
                        // Card content
                        .card-body
                            // Title
                            a.intro__link(href="/category/wedding.11.html")
                                h4.card-title Wedding
                            // Text
                            // Button
                            a.btn.btn-primary.bgBtnMain(href='/category/wedding.11.html') Shop Now
                        // Card
                
                .col.d-flex.align-items-stretch.p-4                         
                    .card
                        // Card image
                        .view.overlay
                            img.card-img-top(src='https://res.cloudinary.com/haophan/image/upload/v1553165340/birthday-index.jpg', alt='Card image cap')
                            a(href='/category/birthday.4.html')
                                .mask.rgba-white-slight
                        // Card content
                        .card-body
                            // Title
                            a.intro__link(href="")
                                h4.card-title Birthday
                            // Text
                            // Button
                            a.btn.btn-primary.bgBtnMain(href='/category/birthday.4.html') View Shop
                        // Card

                .col.d-flex.align-items-stretch.p-4                           
                    .card
                        // Card image
                        .view.overlay
                            img.card-img-top(src='https://res.cloudinary.com/haophan/image/upload/v1553165340/chrismas-index.jpg', alt='Card image cap')
                            a(href='/category/everyday.10.html')
                                .mask.rgba-white-slight
                        // Card content
                        .card-body
                            // Title
                            a.intro__link(href="")
                                h4.card-title Everyday
                            // Text
                            // Button
                            a.btn.btn-primary.bgBtnMain(href='/category/everyday.10.html') View Shop
                        // Card
    
    //
        **************************************************
        About me
        **************************************************
    section.aboutMe.my-5
        h2.about-me__title.mb-5.text-center About Me
            .line-break.text-center
                img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png", width='150' alt="")
        .container
            .row
                .col-8.pr-5
                    h2.about-me__title Hello
                    p Hi! I'm Hao, and i'm a web developer. I make this website because I like flowers.
                    a.btn.bgBtnMain(href="/products") View Shop
                .col-4
                    #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
                        .carousel-inner
                            .carousel-item.active
                                img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1547960453/mini-slide/1.jpg')
                            .carousel-item
                                img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1547960453/mini-slide/3.jpg')
                            .carousel-item
                                img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1547960453/mini-slide/4.jpg')
                            .carousel-item
                                img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1547960453/mini-slide/5.jpg')
                            .carousel-item
                                img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1547960453/mini-slide/2.jpg')

    //
        **************************************************
        Products Hot
        **************************************************
    section#products-hot.products-hot.my-5
        .container
            h2.product-title.mb-5.text-center Products Hot
                .line-break.text-center
                    img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png", width='150' alt="")

            .row
                - for (let i = 0; i<8; i++){
                    +product(productsHot.Products[i], 1)
                -}
    //
        **************************************************
        ADV forshop wedding
        **************************************************
    section#adv-1
        .position-relative
            img.img-adv(src='https://res.cloudinary.com/haophan/image/upload/v1548948245/slide/ADV/bg3.jpg', alt='')
            .row.position-absolute.d-flex.justify-content-end.advContent.mr-3
                .col-6.p-5
                    .h4.advTitle.pr-5.text-center Wedding Flowers
                        .line-break.text-center
                            img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png", width='150' alt="")
                    .h6.advDescription.mt-4.pr-5
                        |Your wedding flowers may be a large part of your wedding budget, so it's important to find wedding centerpieces and wedding bouquets that you love. See photos of wedding flower arrangements for ideas and then find a local wedding florist to pull it off for your wedding day.
                    a.btn.bgBtnMain.mt-3(href="/category/wedding.11.html") View Shop
    section#products-new.products.products-new.my-5
        .container
            h2.product-title.mb-5.text-center Products New
                .line-break.text-center
                    img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png", width='150' alt="")

            .row
                - for (let i = 0; i<8; i++){
                    +product(productsNew.Products[i], 2)
                -}
    //
        **************************************************
        ADV forshop Handmade Flowers
        **************************************************
    section#adv-2
        .position-relative
            img.img-adv(src='https://res.cloudinary.com/haophan/image/upload/v1548948244/slide/ADV/bg2.jpg', alt='') 
            .row.position-absolute.d-flex.justify-content-start.advContent.ml-3
                .col-6.p-5
                    .h4.advTitle.pl-5.text-center Handmade Flowers
                        .line-break.text-center
                            img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png", width='150' alt="")
                    .h6.advDescription.mt-4.pl-5
                        |Handmade flowers are a great gift for Valentine's day, Mother's day, or any occasion when you want to
                        | make something special for a friend or loved one. Unlike real flowers, make something that lasts
                        | (or is tasty)! This collection features flowers made from ribbon, paper, metal and more, as well as
                        | delicious edible flowers in the form of cookies, cupcakes, and of course bacon roses!
                    a.btn.bgBtnMain.mt-3.ml-5(href="/category/rose.7.html") View Shop
    section#products-sale.products.products-sale.my-5
        .container
            h2.product-title.mb-5.text-center Products Sale
                .line-break.text-center
                    img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png", width='150' alt="")

            .row
                - for (let i = 0; i<8; i++){
                    +product(productsSale.Products[i], 3)
                -}
    

block footer
    script(type='text/javascript').
        $('.carousel').carousel({
            interval: 5000
            })