extends includes/layout.pug
    

mixin product(item)
    - let nameProductSlug = item.productNameSlug
    - let nameProduct = item.productName
    - let idProduct = item.id
    - let imageSrc = item.ProductImages[0].imageSrc
    - let nameImageProduct = item.ProductImages[0].imageName
    - let lengthProductDiscount = item.ProductDiscounts.length
    - let isActiveProductDiscount = lengthProductDiscount ? item.ProductDiscounts[0].isActive : false
    - let discountUnit = lengthProductDiscount ? item.ProductDiscounts[0].discountUnit : 0
    - let costBase = item.ProductPricings[0].basePrice
    - let discountValue = lengthProductDiscount ? item.ProductDiscounts[0].discountValue : 0
    - let costDiscount = discountValue ? costBase - (discountValue*costBase)/100 : 0
    - costDiscount = Math.round(costDiscount)

    
    .col-sm-12.col-md-6.col-lg-3.mb-5.d-flex.align-items-stretch       
        .card
            .card-img-top.product__relative
                a.card-link(href=`product/${nameProductSlug}.${idProduct}.html`)
                    img.productImg(src='https://res.cloudinary.com/haophan/image/upload/v1547547257/LL19.jpg', alt=item.ProductImages.imageName)
                    if lengthProductDiscount>0 && isActiveProductDiscount
                        .lable-promotion
                            .btn.btn-danger.btn--sale -#{discountUnit}
            .card-body
                a.card-link(href=`product/${nameProductSlug}.${idProduct}.html`)
                    h5.card-title.card--title #{nameProduct}
                p.card-text
                    - for(let i = 0 ; i<item.productStar; i++){
                        i.fas.fa-star.star--color
                    - }
                    - for(let i = item.productStar ; i<5; i++){
                        i.fas.fa-star.star--disable
                    - }
                p.card-text
                    if lengthProductDiscount>0 && isActiveProductDiscount 
                        span.productCostDiscount.mr-2.cost #{costDiscount} $
                        span.productCostBase.productCostBase--line-through #{costBase} $
                    else     
                        span.productCostBase.cost #{costBase} $

block nav
    
    //- slide
    // Carousel Wrapper
    section#carousel-example-2.carousel.slide.carousel-fade(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
            li.active(data-target='#carousel-example-2', data-slide-to='0')
            li(data-target='#carousel-example-2', data-slide-to='1')
            li(data-target='#carousel-example-2', data-slide-to='2')
            li(data-target='#carousel-example-2', data-slide-to='3')

        // /.Indicators
        // Slides
        .carousel-inner(role='listbox')
            .carousel-item.active
                .view
                    img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1548744139/slide/SL1.jpg', alt='First slide')
                    .mask.rgba-black-light
                .carousel-caption
                    h3.h3-responsive Light mask
                    p First text
            .carousel-item
                // Mask color
                .view
                    img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1548744140/slide/SL2.jpg', alt='Second slide')
                    .mask.rgba-black-strong
                .carousel-caption
                    h3.h3-responsive Strong mask
                    p Secondary text
            .carousel-item
                // Mask color
                .view
                    img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1548744140/slide/SL4.jpg', alt='Third slide')
                    .mask.rgba-black-slight
                .carousel-caption
                    h3.h3-responsive Slight mask
                    p Third text
            .carousel-item
                // Mask color
                .view
                    img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1548744139/slide/SL5.jpg', alt='Third slide')
                    .mask.rgba-black-slight
                .carousel-caption
                    h3.h3-responsive Slight mask
                    p Third text

            // /.Slides
        // Controls
        a.carousel-control-prev(href='#carousel-example-2', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
        a.carousel-control-next(href='#carousel-example-2', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
        // /.Controls
        // /.Carousel Wrapper

    section#advertisement-1.container-fluid.adv.p-4.pgAdv.d-flex.justify-content-center.alignCenterCol.bgNav
        h4.text-center.mr-3.white-text Big sale for TET
        .btn.btn-primary.bgBtnMain.p-3 Shop now!
        
    section#introShop.my-4
        .container
            .row
                .col.d-flex.align-items-stretch.p-3                              
                    .card
                        // Card image
                        .view.overlay
                            img.card-img-top(src='https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg', alt='Card image cap')
                            a(href='#!')
                                .mask.rgba-white-slight
                        // Card content
                        .card-body
                            // Title
                            a.intro__link(href="")
                                h4.card-title Card title
                            // Text
                            // Button
                            a.btn.btn-primary.bgBtnMain(href='#') Button
                        // Card
                
                .col.d-flex.align-items-stretch.p-3                          
                    .card
                        // Card image
                        .view.overlay
                            img.card-img-top(src='https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg', alt='Card image cap')
                            a(href='#!')
                                .mask.rgba-white-slight
                        // Card content
                        .card-body
                            // Title
                            a.intro__link(href="")
                                h4.card-title Card title
                            // Text
                            // Button
                            a.btn.btn-primary.bgBtnMain(href='#') Button
                        // Card

                .col.d-flex.align-items-stretch.p-3                            
                    .card
                        // Card image
                        .view.overlay
                            img.card-img-top(src='https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg', alt='Card image cap')
                            a(href='#!')
                                .mask.rgba-white-slight
                        // Card content
                        .card-body
                            // Title
                            a.intro__link(href="")
                                h4.card-title Card title
                            // Text
                            // Button
                            a.btn.btn-primary.bgBtnMain(href='#') Button
                        // Card
    

    section.aboutMe.my-5
        h2.about-me__title.mb-5.text-center About Me
            .line-break.text-center
                img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png", width='150' alt="")
        .container
            .row
                .col-8.pr-5
                    h2.about-me__title Hello
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, alias sed! Rerum veniam facere tempora corporis voluptatum autem est et voluptate rem alias? Magni ut quos autem blanditiis nesciunt quaerat.
                    a.btn.bgBtnMain(href="") Shop Now
                .col-4
                    #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
                        .carousel-inner
                            .carousel-item.active
                                img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1547960453/mini-slide/1.jpg')
                            .carousel-item
                                img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1547960453/mini-slide/3.jpg')
                            .carousel-item
                                img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1547960453/mini-slide/4.jpg')
                            .carousel-item
                                img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1547960453/mini-slide/5.jpg')
                            .carousel-item
                                img.d-block.w-100(src='https://res.cloudinary.com/haophan/image/upload/v1547960453/mini-slide/2.jpg')


    section#products-hot.products-hot.my-5
        .container
            h2.product-title.mb-5.text-center Products Hot
                .line-break.text-center
                    img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png", width='150' alt="")

            .row
                - for (let i = 0; i<8; i++){
                    +product(productsHot.Products[i])
                -}
                
    section#adv-1
        img.img-adv(src='https://res.cloudinary.com/haophan/image/upload/v1548948245/slide/ADV/bg3.jpg', alt='')

    section#products-new.products.products-new.my-5
        .container
            h2.product-title.mb-5.text-center Products New
                .line-break.text-center
                    img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png", width='150' alt="")

            .row
                - for (let i = 0; i<8; i++){
                    +product(productsNew.Products[i])
                -}

    section#adv-2
        img.img-adv(src='https://res.cloudinary.com/haophan/image/upload/v1548948244/slide/ADV/bg2.jpg', alt='') 

    section#products-sale.products.products-sale.my-5
        .container
            h2.product-title.mb-5.text-center Products Sale
                .line-break.text-center
                    img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png", width='150' alt="")

            .row
                - for (let i = 0; i<8; i++){
                    +product(productsSale.Products[i])
                -}
    
    //- main.mt-5.pt-4
    //-     .container.dark-grey-text.mt-5
    //-         // Grid row
    //-         .row.wow.fadeIn
    //-             // Grid column
    //-             .col-md-6.mb-4
    //-                 img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg', alt='')
    //-             // Grid column
    //-             // Grid column
    //-             .col-md-6.mb-4
    //-                 // Content
    //-                 .p-4
    //-                     .mb-3
    //-                         a(href='')
    //-                             span.badge.purple.mr-1 Category 2
    //-                         a(href='')
    //-                             span.badge.blue.mr-1 New
    //-                         a(href='')
    //-                             span.badge.red.mr-1 Bestseller
    //-                     p.lead
    //-                         span.mr-1
    //-                             del $200
    //-                         span $100
    //-                     p.lead.font-weight-bold Description
    //-                     p
    //-                         | Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor suscipit libero eos atque quia ipsa sint voluptatibus!
    //-                         | Beatae sit assumenda asperiores iure at maxime atque repellendus maiores quia sapiente.
    //-                     form.d-flex.justify-content-left
    //-                         // Default input
    //-                         input.form-control(type='number', value='1', aria-label='Search', style='width: 100px')
    //-                         button.btn.btn-primary.btn-md.my-0.p(type='submit')
    //-                             | Add to cart
    //-                             i.fas.fa-shopping-cart.ml-1

    //-         hr
    //-         // Grid row
    //-         .row.d-flex.justify-content-center.wow.fadeIn
    //-             // Grid column
    //-             .col-md-6.text-center
    //-                 h4.my-4.h4 Additional information
    //-                 p
    //-                 | Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit voluptates,
    //-                 | quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.
    //-             // Grid column
    //-             // Grid row
    //-             // Grid row
    //-         .row.wow.fadeIn
    //-             // Grid column
    //-             .col-lg-4.col-md-12.mb-4
    //-                 img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg', alt='')
    //-             // Grid column
    //-             // Grid column
    //-             .col-lg-4.col-md-6.mb-4
    //-                 img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg', alt='')
    //-             // Grid column
    //-             // Grid column
    //-             .col-lg-4.col-md-6.mb-4
    //-                 img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg', alt='')


    
    //- main.container.products#products
    //-     h3.container.mb-5.mt-5 Hoa Bán Chạy        
    //-     //- .row
    //-     //-     each value in response
    //-     //-         +product(value)
block footer
    script(type='text/javascript').
      $('.carousel').carousel({
        interval: 5000
        })