extends includes/layout.pug

mixin product(item)
    .col-lg-3.mb-5        
        .card
            .card-img-top.product__relative
                a.card-link(href=`products/${item.productId}`)
                    img(src=item.productImage, alt=item.productName)
                    if item.state
                        .lable-promotion
                            .btn.btn-danger(class=item.state) #{item.state}
            .card-body
                a.card-link(href=`products/${item.productId}`)
                    h5.card-title #{item.productName}
                p.card-text
                    - for(let i = 0 ; i<item.star; i++){
                        i.fas.fa-star.star--color
                    - }
                p.card-text
                    span #{item.productCost}               
                a.btn.btn-primary(href='#') Add to Cart
block head
    link(rel='stylesheet', href='../css/style.css')

block nav
    
    main.container.products#products
        .container.mb-5.mt-5 Tất cả sản phẩm       
        .row
            each value in response
                +product(value)

    nav.container.d-flex.justify-content-end(aria-label='Page navigation example')
        ul.pagination
            li.page-item
                a.page-link(href='#') Previous
            li.page-item
                a.page-link(href='#') 1
            li.page-item
                a.page-link(href='#') 2
            li.page-item
                a.page-link(href='#') 3
            li.page-item
                a.page-link(href='#') Next

block footer