extends includes/layout.pug

mixin product(item)    
    - const nameProductSlug = item.productNameSlug
    - const nameProduct = item.productName
    - const idProduct = item.id
    - const imageSrc = item.ProductImages[0].imageSrc
    - const nameImageProduct = item.ProductImages[0].imageName
    - const lengthProductDiscount = item.ProductDiscounts.length
    - const isActiveProductDiscount = lengthProductDiscount ? item.ProductDiscounts[0].isActive : false
    
    - const costBase = item.ProductPricings[0].basePrice
    - const discountValue = lengthProductDiscount ? item.ProductDiscounts[0].discountValue : 0
    - const idCategory = item.Categories.length ? item.Categories[0].id : 0
    - const productStar = parseInt(item.productStar);
    - const productStarHalf = productStar < item.productStar? true : false
    - let costDiscount = discountValue ? costBase - (discountValue*costBase)/100 : 0
    - costDiscount = Math.round(costDiscount)

    
    .col-sm-12.col-md-6.col-lg-3.mb-5.d-flex.align-items-stretch       
        .card
            .card-img-top.product__relative
                a.card-link(href=`/product/${nameProductSlug}.${idProduct}.${idCategory}.html`)
                    img.productImg(src=imageSrc, alt=nameImageProduct)
                    if isActiveProductDiscount
                        .lable-promotion
                            .btn.btn-danger.btn--sale -#{discountValue}%
            .card-body
                a.card-link(href=`product/${nameProductSlug}.${idProduct}.html`)
                    h5.card-title.card--title #{nameProduct}
                p.card-text
                    - for(let i = 0 ; i<productStar; i++){
                        i.fas.fa-star.star--color
                    - }
                    if productStarHalf
                        i.fas.fa-star-half-alt.star--color
                        - for(let i = productStar+1 ; i<5; i++){
                            i.fas.fa-star.star--disable
                        - }
                    else
                        - for(let i = productStar ; i<5; i++){
                            i.fas.fa-star.star--disable
                        - }
                    span.ml-1(class= item.totalUserVote? '': 'd-none')
                        |(#{item.totalUserVote === 1 ? `${item.totalUserVote} review` : `${item.totalUserVote} reviews`})
                p.card-text
                    if isActiveProductDiscount
                        span.productCostDiscount.mr-2.cost $#{costDiscount}
                        span.productCostBase.productCostBase--line-through $#{costBase}
                    else     
                        span.productCostBase.cost $#{costBase}

block head
    link(rel='stylesheet', href='../css/index.css')
    link(rel='stylesheet', href='../css/products.css')


block nav  
    
    main.container.products#products
        h2.product-title.mb-5.text-center #{titleCategory}
            .line-break.text-center
                img(src="https://res.cloudinary.com/haophan/image/upload/v1547963844/line.png", width='150' alt="")
        .row
            each value in products
                +product(value)

    nav.container.d-flex.justify-content-end(aria-label='Page navigation example')
        ul.pagination
            li.page-item(class= indexPage<2? 'page-item--hidden': '')
                a.page-link(href=`${pathOrigin}?page=${indexPage-1}`) Previous

            li.page-item(class= maxPage===1 ? 'page-item--hidden': '')
                a.page-link.page-item--active(href=`${pathOrigin}?page=${indexPage}`) #{indexPage}

            li.page-item(class= indexPage+1>maxPage ? 'page-item--hidden': '')
                a.page-link(href=`${pathOrigin}?page=${indexPage+1}`) #{indexPage+1}
                
            li.page-item(class= indexPage+2>maxPage ? 'page-item--hidden': '')
                a.page-link(href=`${pathOrigin}?page=${indexPage+2}`) #{indexPage+2}
                
            li.page-item(class= indexPage>=maxPage ? 'page-item--hidden': '')
                a.page-link(href=`${pathOrigin}?page=${indexPage+1}`) Next

block footer